@font-face {
  font-family: montserrat;
  src: url('./assets/Montserrat-VariableFont_wght.ttf');
}
:root {
  --first-color: black;
  --second-color: #FFA500;
  --third-color: #008000;
  --fourth-color: #FFFFFF;
}

.image {
  display: flex;
}
.shadow{
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* box-shadow: 8.0px 16.0px 16.0px hsl(0, 0%, 100%); */
    /* box-shadow: 0 19px 38px rgba(255, 255, 255, 0.993), 0 15px 12px rgb(254, 254, 254); */
    /* padding-left: 5rem; */
    /* box-shadow: 0 3px 6px rgba(252, 252, 252, 0.16) 6px rgba(255, 253, 253, 0.23); */
    box-shadow: 0 2px 12px rgb(255, 255, 255), 0 2px 12px rgba(255, 255, 255, 0.942);
    /* max-width: 90%; */
    margin-left: 3rem;
    margin-right: 3rem;
}

.Header {
 
  position: flex;
  align-items: center;
  justify-content: space-around;

}

.menu:hover {
  cursor: pointer;
}

.main {
  position: absolute;
  width: 459px;
  height: 543px;
  left: 527px;
  top: 219px;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  color: var(--fourth-color);
  flex-direction: column;

}

.email-input {

  opacity: 1;
  height: 2.8rem;
  width: 25rem;
  border-width: 0.1rem;
  background-color: var(--first-color);
  padding-left: 3rem;
  padding-bottom: 0.1rem;
  border: none;
  font-size: 1.2rem;
  text-decoration: white;
  color: white;

}

.email-input::placeholder {
  font-size: medium;
  color: var(--second-color);
  letter-spacing: 0.2rem;
  font-family: montserrat
}


.email-input:focus {
  outline: none;
  color: var(--fourth-color);
  text-decoration: white;
}

.email-input:hover {
  border-color: var(--second-color);
  transition: ease-in 0.3s;
  color: white;
}

.input-wrapper {
  height: 3.4rem;
  width: 23rem;
  background-color: var(--first-color);
  display: flex;
  border: 1px solid var(--second-color);
  padding: 0.2rem;
  margin-top: 2rem;
  padding-left: 2rem;
}

.forgot-password {
  margin-left: 12rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-family: montserrat;
  cursor: pointer;
}

.login-button {
  background: #FFFFFF;
  width: 25rem;
  height: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-family: montserrat;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.sidebar {
  background-color: var(--second-color);
  width: 20rem;
  height: 100vh;
  transition: ease-in 0.5s;
  z-index: 1000;
}
.sidebar:hover{
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.sidebar-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: ease-in 0.8s;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  margin-left: 3rem;
  font-family: montserrat;
  font-size: 2rem;
  color:var(--first-color);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.sidebar-title:hover{
  font-size: 2.5rem;
  transition: ease-in 0.3s;

}

.sidebar-title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-top: 2rem;
  font-family: montserrat;
  color:var(--first-color);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-title1:hover{
  font-size: 2.5rem;
    transition: ease-in 0.3s;

}
.close-sidebar {
  float: right;
  transition: ease-in 0.8s;

}

@import url("https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css");

body {
  margin-top: 20px;
}

.steps .step {
  display: block;
  width: 80%;
  margin-bottom: 35px;
  text-align: center
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 3px;
  margin-top: -1px;
  background-color: #e1e7ec;
  content: '';
  z-index: 1
}

.steps .step .step-icon-wrap::before {
  left: 0
}

.steps .step .step-icon-wrap::after {
  right: 0
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #374250;
  font-size: 38px;
  line-height: 81px;
  z-index: 5
}

.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--fourth-color);
  font-size: 1.2rem;
  font-weight: 700;
}

.steps .step:first-child .step-icon-wrap::before {
  display: none
}

.steps .step:last-child .step-icon-wrap::after {
  display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: var(--third-color)
}

.steps .step.completed .step-icon {
  border-color: var(--fourth-color);
  background-color: var(--second-color);
  color: black;
}

@media (max-width: 576px) {

  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

@media (max-width: 768px) {

  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

@media (max-width: 991px) {

  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

@media (max-width: 1200px) {

  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

.bg-faded,
.bg-secondary {
  background-color: #f5f5f5 !important;
}

.container{
  margin-top: 10rem;
}
.thirdbase{
  /* margin-top: 2rem; */
  background-color: black;
  padding-top: 2rem;
}
.main_container{
  margin-left: 30rem;
  width: 60rem;

}

.graph{

/* display: flex;
align-items: flex-start;
justify-content: flex-start; */
padding-top: 2rem;
padding-left: 5rem;
/* margin-left: 24rem; */
/* float: left; */
/* border-radius: 2rem; */


}

.right-panel{
 float: right;
  width: 55rem;
  background-color:var(--third-color);
  height: 28rem;
  /* overflow: hidden; */
  /* position: fixed; */
}

.left-panel{
  float: left;
  width: 55rem;
  height: 30rem;
  background-color: var(--second-color);
  /* overflow: hidden; */
  /* position: fixed; */
  /* margin-top: 24rem; */
}

.pie-chart{
  /* display: flex;
  flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; */
    display: flex;
    justify-content: space-between;
    /* border-radius: 1rem; */
    margin-left: 6rem;
    padding-top: 4rem;
}

.pie{
  float:right;
  margin-right: 4rem;
  /* padding-bottom: 2rem; */
    /* position: fixed; */
    /* overflow: hidden; */
    border-radius: 2rem;
}

.topstatus{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 90%; */
  /* height: 75%; */
  background-color:var(--third-color);
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  /* position: absolute; */
  z-index: -1;
  /* opacity: 0.5; */
}

.bottom-status{
  float: right;
  width: 50%;
  height: 28rem;
  /* position: fixed; */
  background-color:#008000;
  z-index: -1;
}
/* .table-root{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
} */

/* .table-row{
 
padding: 2rem;
color: var(--fourth-color);

} */

/* .table-data{
  width: 80%;
  height: 8rem;
  background-color: white;
  color: white;
} */

.status-table {
  
  /* width: 100%; */
  /* align-items: center; */
  border-collapse: collapse;
  /* margin-top: 20px; */
 border: 1px solid black ;
  margin: 5rem;
  background-color: #374250;
  z-index: 1;
 
  /* margin */
}

.status-table th{
  padding: 1.2rem;
    text-align: left;
  
    border-bottom: 1px solid black;
}
.status-table td {
  padding: 1.2rem;
  color: white;
      border-bottom: 1px solid black;
  
} 
/* .status-table td{
  color:white
} */

.status-table th {
  background-color:var(--second-color);
  font-weight: bold;
}

.status-table tr:hover {
  /* background-color:var(--second-color); */
  background-color: black;
  /* color:black !important */
  transition: ease-in 0.2s;
}

.root{
  display: flex;
  align-items: center;
  justify-content: center;

}

.thead {
  background-color: #374250;
}

.sort-button{
  float: right;
  margin-right: 5rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color:#008000;
  color: white;
}
.table-row > td{
  padding: 1rem;
  border: 10px solid black;
}

.graph{

/* display: flex;
align-items: flex-start;
justify-content: flex-start; */
padding-top: 2rem;
padding-left: 5rem;
/* margin-left: 24rem; */
/* float: left; */
/* border-radius: 2rem; */


}

.right-panel{
 float: right;
  width: 55rem;
  background-color:var(--third-color);
  height: 28rem;
  /* overflow: hidden; */
  /* position: fixed; */
}

.left-panel{
  float: left;
  width: 55rem;
  height: 30rem;
  background-color: var(--second-color);
  /* overflow: hidden; */
  /* position: fixed; */
  /* margin-top: 24rem; */
}

.pie-chart{
  /* display: flex;
  flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; */
    display: flex;
    justify-content: space-between;
    /* border-radius: 1rem; */
    margin-left: 6rem;
    padding-top: 4rem;
}

.pie{
  float:right;
  margin-right: 4rem;
  /* padding-bottom: 2rem; */
    /* position: fixed; */
    /* overflow: hidden; */
    border-radius: 2rem;
}