@font-face {
  font-family: montserrat;
  src: url('./assets/Montserrat-VariableFont_wght.ttf');
}

.image {
  display: flex;
}

.Header {
 
  position: flex;
  align-items: center;
  justify-content: space-around;

}

.menu:hover {
  cursor: pointer;
}

.main {
  position: absolute;
  width: 459px;
  height: 543px;
  left: 527px;
  top: 219px;

}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  color: white;
  flex-direction: column;

}

.email-input {

  opacity: 1;
  height: 2.8rem;
  width: 25rem;
  border-width: 0.1rem;
  background-color: black;
  padding-left: 3rem;
  padding-bottom: 0.1rem;
  border: none;

}

.email-input::placeholder {
  font-size: medium;
  color: #FFA500;
  letter-spacing: 0.2rem;
  font-family: montserrat
}


.email-input:focus {
  outline: none;
  color: white;
}

.email-input:hover {
  border-color: #FFA500;
  transition: ease-in 0.3s;
}

.input-wrapper {
  height: 3rem;
  width: 23rem;
  background-color: black;
  display: flex;
  border: 1px solid #008000;
  padding: 0.2rem;
  margin-top: 2rem;
  padding-left: 2rem;
}

.forgot-password {
  margin-left: 12rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-family: montserrat;
}

.login-button {
  background: #FFFFFF;
  width: 25rem;
  height: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-family: montserrat;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  font-weight: 600;
}

.sidebar {
  background-color: #FFA500;
  width: 20rem;
  height: 100vh;
  transition: ease-in 0.5s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.sidebar-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: ease-in 0.8s;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  margin-left: 3rem;
  font-family: motserrat;
  font-size: 2rem;
  color: #008000;
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-top: 2rem;
  font-family: motserrat;
  color: #008000;
  text-decoration: underline;
  cursor: pointer;
}

.close-sidebar {
  float: right;
  transition: ease-in 0.8s;

}